<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img      width="245"
      height="182" src="/assets/images/logo2.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <div class="container">
      <form class="container"   [formGroup]="registerForm">
        <mat-form-field class="col-12" >
          <mat-label>اسم الشخصي</mat-label>
          <input matInput formControlName="frestName"  id="login" class="fadeIn second" name="login"  autocomplete="frestName">
          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
          <mat-error>
            اسم الشخصي الزامي
          </mat-error>
      </mat-form-field>
      <mat-form-field class="col-12" >
        <mat-label>اسم العائلي</mat-label>
        <input matInput formControlName="lastNam"  id="login" class="fadeIn second" name="login"  autocomplete="lastNam">
        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        <mat-error>
          اسم العائلي الزامي
        </mat-error>
    </mat-form-field>

        <mat-form-field class="col-12" >
          <mat-label>بريد الالكتروني </mat-label>
          <input matInput formControlName="email"  id="login" class="fadeIn second" name="login"  autocomplete="email">
          <mat-icon matSuffix class="secondary-text">alternate_email</mat-icon>
          <mat-error>
            بريد الالكتروني الزامي
          </mat-error>
      </mat-form-field>
      <mat-form-field  class="col-12" >
        <mat-label>كلمة السر </mat-label>
        <input matInput type="password" [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="current-password" required>
        <mat-icon class="eyes"  matSuffix class="secondary-text"  (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>
          كلمة السر الزامية
        </mat-error>
    </mat-form-field>
    <input type="button"  [disabled]="registerForm.invalid" (click)="save()"   class="fadeIn fourth" value="Log In">
      </form>

    </div>


    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div>      <a class="underlineHover"   routerLink="../login" >تشجيل الدخول</a>
      </div>
      <div>
        <a class="underlineHover"  routerLink="app/dashboard">صفحة البداية</a>

      </div>

    </div>

  </div>
</div>
