<!-- <div  >

<mat-toolbar color="primary">
  <mat-icon>account_balance</mat-icon>
  <span> My Application</span>
  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
  <a  routerLink="app/dashboard" >
    Home
  </a>
  &nbsp;&nbsp;
  <a  routerLink="app/work/cars">
    Cars
  </a>
  &nbsp;&nbsp;
  <a  routerLink="app/work/profils">
    Profils
  </a>
</mat-toolbar>
</div>

<router-outlet></router-outlet> -->

<app-navbar *ngIf="_layoutService.getConfig().navbar"></app-navbar>

<div class="container mt-5 "> <br>
  <app-content></app-content>
</div>
<div>
  <app-footer *ngIf="_layoutService.getConfig().footer" style=" position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;"></app-footer>
</div>
