 <nav class="navbar navbar-expand-sm navbar-dark bg-primary"> &nbsp;&nbsp;
  <a class="navbar-brand" routerLink="app/dashboard">My App</a>
  &nbsp;&nbsp;<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"   *ngIf="loginStatus()">
      <li class="nav-item active" >
        <a class="nav-link" routerLink="app/dashboard">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="app/work/cars" class="nav-link">Cars</a>

      </li>


      <li class="nav-item">
        <a  routerLink="app/work/profils" class="nav-link">Profils</a>

      </li>
    </ul>


  </div>
  <ul class="navbar-nav ml-auto">

    <li class="nav-item"   >
      <a routerLink="app/auth/register" class="nav-link" *ngIf="!loginStatus()">Regester</a>

    </li>


    <li class="nav-item" >
      <a routerLink="app/auth/login" class="nav-link" *ngIf="!loginStatus()">Login</a>

    </li>
    <li class="nav-item"  *ngIf="loginStatus()">
      <a [routerLink]="" (click)="Logout()" class="nav-link">Logout</a>

    </li>
    <!-- <li class="nav-item" *ngIf="islogin()">
      <a routerLink="app/auth/login" class="nav-link">Logout </a>

    </li> -->




  </ul>

</nav>
