

<mat-toolbar color="primary"  >
  <!-- <mat-icon>account_balance</mat-icon> -->
<img src="/assets/images/logo2.png" height="52" width="86" >
<span class="logo">فوق الخط</span>

  <a   mat-button   onclick="this.blur()"  mat-button routerLink="app/dashboard" >
    الرئسية
  </a>

  <a mat-button     mat-button [matMenuTriggerFor]="menu"> الاخبار السياسية </a>
<mat-menu #menu="matMenu" [overlapTrigger]="false">


<a mat-menu-item   >
  <span>المحلية</span>
</a>
<a mat-menu-item   >
  <span>الدولية</span>
</a>

</mat-menu>

<a mat-button     mat-button [matMenuTriggerFor]="menus"> الاخبار فنية </a>
<mat-menu #menus="matMenu" [overlapTrigger]="false">


<a mat-menu-item   >
  <span>افلام ومسلسلات</span>
</a>
<a mat-menu-item   >
  <span>موسيقة</span>
</a>

</mat-menu>
  <a     mat-button  *ngIf="loginStatus()" routerLink="app/work/news-admin" >
    الاخبار (المشرف)
  </a>

  <div class="spacer"></div>
  <!-- <a  mat-raised-button color="accent"  routerLink="app/auth/register"  *ngIf="!loginStatus()">
    <mat-icon>contact_page</mat-icon>

  </a> &nbsp; -->
  <a   style="background-color: #C0C0C0	;" mat-raised-button  color="accent" onclick="this.blur()"   *ngIf="!loginStatus()" routerLink="app/auth/login" >
      <mat-icon>login</mat-icon>
  </a>
  <a    mat-raised-button color="accent"  (click)="Logout()" [routerLink]=""  *ngIf="loginStatus()"  >
    <mat-icon>logout</mat-icon>
  </a>

</mat-toolbar>
